NEBIUS_API_KEY=v1.CmMKHHN0YXRpY2tleS1lMDBuMzl6dDhleTNoZDcxdjMSIXNlcnZpY2VhY2NvdW50LWUwMHc3MWd3bWUyd2NrdzI4ZzILCL6ts9QGEIj6yUw6DAi9sMufBxDA_afmAUACWgNlMDA.AAAAAAAAAAGxu1nC4NleKbqjrQTn-wAOgIBPvjWtrlUs7Jl6dNV-M8dvLmy2IWTDGz4YgxrnWfc3XOycldktE7FKRcuqbUMP
NEBIUS_BASE_URL=https://api.studio.nebius.ai/v1
NEBIUS_MODEL=Qwen/Qwen2.5-72B-Instruct

PINECONE_API_KEY=pcsk_3PP1DD_6wKar5XGEoxfjeLgCsmW4jfCXvtMi4KqBHAiTPznqARUnTtxjnJk5hbNKbuFxhX
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=acme-enterprise-rag

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

PROJECT_ROOT=/Users/user/MavenLearning/Week2 work
